@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");

body {
  font-family: "Jost", sans-serif;
  /* background-color: #f5f5f5; */
  background-image: linear-gradient(to top, #f5f5f5, #d9eafa);

  color: #333333;
  margin: 0;
  padding: 0;
  max-width: 100vh;
  /* overflow: hidden; */
}
